<template>
  <div id="app">
    <CAForm />
  </div>
</template>

<script>
import CAForm from './components/CAForm.vue';

export default {
  name: 'App',
  components: {
    CAForm,
  },
};
</script>

<style lang="scss">
body {
  background-color: #F1F1F1;
  box-sizing: border-box;
  margin: 60px 0;
}
#app {
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Open Sans', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 57.5rem;
  margin: 0 auto;
  padding: 20px 60px 60px 60px;
}
@media (max-width:480px)  {
  body {
    margin: 0;
    width: 100%;
  }
}
</style>
