<template>
  <div class="box">
    <h1 class="title">Customer Alliance Form</h1>
    <!-- WIDGET -->
    <div :class="[{ visible: form.touched}, {hidden: !form.touched},'results-widget']">
      <div v-for="(question, index) in json.questions" :key="index">
        <div v-if="feedback.rating && question.type=='rating'">
          <b>{{ question.label }}</b>
          <br />
          {{feedback.rating}}
        </div>
        <template v-if="feedback.comment"> <!-- display if comment entered -->
          <div v-if="question.sub_questions" class="feedback-form__comment">
            <div v-for="(subQuestions, i) in question.sub_questions" :key="i">
              <div v-if="subQuestions.values.includes(feedback.rating)">
                <div v-for="q in subQuestions.questions" :key="q.id">
                  <b>{{ q.label }}</b>
                  <br />
                  {{ feedback.comment }}
                </div>
              </div>
            </div>
          </div>
        </template>
        <div v-if="feedback.age && question.type=='age'">
          <b>{{ question.label }}</b>
          <br />
          {{ feedback.age }}
        </div>
        <div v-if="feedback.email && question.type=='email'">
          <b>{{ question.label }}</b>
          <br />
          {{ feedback.email }}
        </div>
      </div>
      <p :class="status.class">
        {{ status.message }}
      </p>
      <p class="results-widget__date">date of experience: {{ formattedDate }}</p>
    </div>
    <!-- FEEDBACK FORM -->
    <form class="feedback-form">
      <div v-for="(question, index) in json.questions" :key="index">
        <div key="{question.id}">
          <p class="feedback-form__number">{{ index + 1 }}.</p>
          <!-- Questions -->
          <label class="feedback-form__label">
            {{ question.label }}
            <span
              class="feedback-form__required-text"
              v-if="question.type == 'rating' && question.validation.required"
            >
              (required)
            </span>
          </label>
          <div v-if="question.type == 'rating'" class="feedback-form__rating-group">
            <template v-for="n in 5">
              <button
                :class="[{ selected: feedback.rating == n},'feedback-form__rating-button']"
                @click.prevent="feedback[question.type] = n.toString(), form.touched = true"
                :id="`rating-${n}`"
                :value="n"
                :key="n"
              >
                {{ n }}
              </button>
            </template>
            <div class="break"></div>
            <!-- Render if any sub questions -->
            <div v-if="question.sub_questions" class="feedback-form__comment">
              <div v-for="(subQuestions, i) in question.sub_questions" :key="i">
                <div v-if="subQuestions.values.includes(feedback.rating)">
                  <!-- Sub Questions -->
                  <div v-for="q in subQuestions.questions" :key="q.id">
                    <div class="q.type">
                      <textarea
                        class="feedback-form__textarea"
                        :placeholder="q.label"
                        v-model="feedback[q.type]"
                        :required="q.validation.required ? true : false"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-if="question.type == 'age'" class="feedback-form__age-button-group">
            <template v-for="n in form.age">
              <button
                @click.prevent="feedback[question.type] = n.toString(), form.touched = true"
                :class="[{ selected: feedback.age == n},'feedback-form__age-button']"
                :id="n"
                :value="n"
                :key="n"
              >
                {{ n }}
              </button>
            </template>
          </div>

          <template v-if="question.type !== 'age' && question.type !== 'rating'">
            <input
              @input="form.touched = true"
              class="feedback-form__input"
              :type="question.type"
              v-model="feedback[question.type]"
            />
          </template>
        </div>
      </div>
      <div class="feedback-form__button-group">
      <!-- eslint-disable -->
        <button type="submit" @click.prevent="validateForm()" class="feedback-form__button">submit</button>
      <!-- eslint-enable-->
      </div>
    </form>
    <p :class="status.class">
      {{ status.message }}
    </p>
  </div>
</template>

<script>
import json from '../../data/questions.json';

export default {
  name: 'CAForm',
  data() {
    return {
      json,
      form: {
        rating: ['1', '2', '3', '4', '5'],
        age: ['20', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80+'],
        touched: false,
      },
      feedback: {
        rating: '',
        comment: '',
        age: '',
        password: '',
        email: '',
      },
      status: {},
      date: new Date(),
    };
  },
  computed: {
    isValidPassword() {
      if (this.feedback.password) {
        const re = /(?=.*[a-z])(?=.*[0-9])/;
        return re.test(this.feedback.password);
      }
      return false;
    },
    isValidEmail() {
      if (this.feedback.email) {
        /* eslint-disable-next-line */
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(this.feedback.email.toLowerCase());
      }
      return false;
    },
    isValidForm() {
      if (this.isValidPassword && this.isValidEmail && this.feedback.age && this.feedback.rating) {
        return true;
      }
      return false;
    },
    // FIXME: Day has trailing zero in design
    formattedDate() { return `${this.date.getFullYear()}/${this.date.getMonth()}/${this.date.getUTCDate()}`; },
  },
  methods: {
    validateForm() {
      console.log(this.validPassword.length);
      if (this.validForm) {
        this.status = {
          message: 'Success!',
          class: 'valid',
        };
      } else {
        this.status = {
          message: 'Invalid!',
          class: 'invalid',
        };
      }
    },
  },
};
</script>

<style scoped lang="scss">
$primary-color: #3b62b2;
$secondary-color: #003549;
$active-color: #46c4ba;

// BLOCK_ELEMENT--MODIFIER
h1 {
  color: $primary-color;
  font-weight: 700;
}

.selected {
  background-color: lighten($active-color, 20%);
  box-shadow: none;
  color: darkgrey !important;
  font-weight: 700;
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.valid {
  color: aquamarine;
  font-weight: 700;
}
.invalid {
  color: tomato;
}
input[type=password],
input[type=email] {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
}

.results-widget {
  background-color: white;
  position: fixed;
  right: 5%;
  border-radius: 20px;
  padding: 30px 30px;
  transition: all 1s;
  box-shadow: 0 0 7px 7px lightgray,;
  &__date {
    font-weight: 700;
    border-top: tomato 2px solid;
    padding-top: 10px;
    text-transform: uppercase;
  }
}
.feedback-form {
    max-width: 655px;
  &__number {
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__label {
    color: $secondary-color;
    margin-bottom: 10px;
    display: block;
  }
  &__required-text {
    color: lightgray;
  }
  &__rating-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  &__rating-button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    color: lightgray;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    box-shadow: 1px  1px 1px darkgrey inset,
                -1px 1px 1px darkgrey inset,
                -2px -1px 1px darkgrey inset;
    &:hover {
      background-color: lighten($active-color, 30%);
      color: darkgrey;
      font-weight: 700;
    }

  }
  &__comment {
    display: block;
    width: 100%;
  }
  &__age-button-group {
    display: flex;
    flex-direction: row;
  }
  &__age-button {
    flex-grow: 1;
    background-color: white;
    color: lightgray;
    padding: 20px;
    border: 1px solid lightgray;
    &:nth-child(n+1) {
      border-right: 0
    }
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-right: 1px solid lightgray;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:hover {
      background-color: lighten($active-color, 30%);
    }
    &.selected {
      background-color: lighten($active-color, 20%);
    }
  }
  &__textarea {
    height: 60px;
    font-family: 'Open Sans';
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.9rem;
    box-shadow: none;
  }
  &__button-group {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    margin-top: 30px;
    background-color: $active-color;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 15px 30px;
  }
  &__input {
    width: 100%;
    box-sizing: border-box;

  }
}
// NOTE: Hide results widget on mobile
@media (max-width:480px)  {
  h1 {
    font-size: 1.5rem;
  }
  .results-widget {
    display: none
  }
  .feedback-form {
    max-width: 100%;
    &__rating-group {
      max-width: 70%;
    }
    &__rating-button {
      width: 30px;
      height: 30px;
    }
    &__age-button-group {
      display: block
    }
    &__age-button {
      width: 50%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-bottom: 20px;
      &:nth-child(even) {
        border-radius: 0 10px 10px 0;
        border: 1px solid lightgray;
      }
    }
  }
}

</style>
